.login-box
  .login-logo
    %a{:href => "../../index2.html"}
      %b> Admin
      LTE
  / /.login-logo
  .login-box-body
    %p.login-box-msg Sign in to start your session
    %form{:action => "../../index2.html", :method => "post"}
      .form-group.has-feedback
        %input.form-control{:placeholder => "Email", :type => "email"}/
        %span.glyphicon.glyphicon-envelope.form-control-feedback
      .form-group.has-feedback
        %input.form-control{:placeholder => "Password", :type => "password"}/
        %span.glyphicon.glyphicon-lock.form-control-feedback
      .row
        .col-xs-8
          .checkbox.icheck
            %label
              %input{:type => "checkbox"}
                Remember Me
        / /.col
        .col-xs-4
          = link_to 'Sign In', admin_index_path, class: 'btn btn-primary btn-block btn-flat'
          -#%button.btn.btn-primary.btn-block.btn-flat{:type => "submit"} Sign In
    %a{:href => "#"} I forgot my password
    %br
      %a.text-center{:href => "register.html"} Register a new membership
