%footer.main-footer
  .pull-right.hidden-xs
    %b Version
    2.0
  %strong
    Copyright &copy; 2014-2015
    = succeed "." do
      %a{:href => "http://almsaeedstudio.com"} Almsaeed Studio
  All rights reserved.