!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title AdminLTE
    -#Include style per-controller - vendor plugins
    = stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css")
    -#Main css styles
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    -#Main javascript files
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body.login-page
    = yield

    -#Include javascript per-controller - vendor plugins
    = javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js")

    -#Include javascript per-view
    = yield :javascript